.container {
  width: 90%;
  height: 1000px;
  margin: 5%;
  background-color: rgb(31, 151, 237);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  line-height: 1.7;
  border-radius: 10px;
}

.about {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.bio {
  color: aliceblue;
  font-family: monospace;
  font-size: 16px;
}

.image {
  border-radius: 20px;
  width: 95%;
  height: 400px;
}

.container2 {
  overflow: hidden;
  width: 95%;
  border-radius: 10px;
}

.tab {
  overflow: hidden;
  display: flex;
  border: 1px solid #e6d8d8;
  background-color: #b0a2a2;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  flex-grow: 1;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #ddd;
  border-top: none;
}

.tabcontent p {
  font-size: 18px;
  color: #504949;
}
.tabcontent h3 {
  font-size: 20px;
  color: black;
}
